/*variáveis*/
:root{
    --backgroundColor: #f0f0f0;
    --cardColor: #fff;
    --shadowColor: rgba(0, 0, 0, 0.2);
}

/*fontes*/

/*reset*/
html, body{
    margin:0;
    height: 100%;
}

/*estilos básicos*/
body{
    background-color: var(--backgroundColor);
}

#content{
    display: flex;
}

article{
    background-color: var(--cardColor);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    max-width: 20%;
    box-shadow: 0 0 10px var(--shadowColor);
}

article img{
    width: 50%;
}

form{
    margin: 20px;
}

div{
    margin: 100px 20px;
}

/*mobile*/

/*demais tamanhos*/